{
     CommerceServerHost = "mercury.apple.com";
     CommerceServerPath = "/WebObjects/FRCommerceServer.woa";
     RequestRouterHost = "www.mac.com";
     RequestRouterPath = "/WebObjects/RequestRouter.woa";
     HomePageHost = homepage.mac.com;
     IDiskHost = "idisk.mac.com";
     ISVersionRange = { PrintsService = (5,6); BookService = (5,6); HomePageService = (5,6); NetSlidesService = (5,6); };
}
